body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
   
    background-image: url("/static/su571.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
    transition: all 0.3s ease;
}

.container{
    text-align:center;
    margin-top:80px;
}

h1{
    font-size:40px;
    color:#333;
}

.subtitle{
    color:#777;
}

.upload-box{
    margin:30px;
    size: 4cm;
}

button{
    padding:12px 25px;
    background:#4CAF50;
    color:white;
    border:none;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
    transition: all 0.3s ease;
}

button:hover{
    background:#3e8e41;
}

.result-card{
    margin-top:40px;
    background:white;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.score{
    font-size:40px;
    color:#4CAF50;
    margin:20px;
}

.skills{
    display:flex;
    justify-content:space-between;
}

.skill-box{
    width:45%;
}

.skill-box ul{
    list-style:none;
    padding:0;
}

.skill-box li{
    background:#f2f2f2;
    padding:8px;
    margin:5px;
    border-radius:5px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/static/ast.jpg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:8%;
}
.container{
    text-align:center;
    margin-top:80px;
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(10px);
    padding:40px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    border-radius:12px;

    height: auto;      /* important */
}

button:hover {
    background-color: #45a049;
    transform: scale(1.03);
    transition: 0.2s ease;
}
.back-btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 20px;
    background:#2196F3;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

.back-btn:hover{
    background:#0b7dda;
}
@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(10px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
.job-box {
    margin-top: 10px;
    margin-bottom: 14px;
}
textarea{
    width: 250px;
    height: 40px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
}

textarea:focus{
    outline: none;
    border: 1px solid #4CAF50;
    box-shadow: 0 0 5px rgba(76,175,80,0.4);
}
.progress {
  width: 300px;
  height: 10px;
  background: #eee;
  border-radius: 5px;
}

.progress-bar {
  height: 10px;
  background: #4CAF50;
  border-radius: 5px;
}
input[list]{
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 1px;
}
#jobInput{
width: 350px;
padding: 10px;
border-radius: 6px;
border: 1px solid #ccc;
margin-top: 10px;
}

#suggestions{
width: 350px;
background: white;
border-radius: 6px;
margin-top: 15px;
}

#suggestions div{
padding: 8px;
cursor: pointer;
border-bottom: 1px solid #eee;
}

#suggestions div:hover{
background: #f2f2f2;
}