<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <form method="POST" enctype="multipart/form-data" autocomplete="off"></form>
</head>

<body>
    
    
<div class="container">

    <h1>AI Resume Analyzer</h1>
    <p class="subtitle">Upload your resume and check your skill score</p>

    <form method="POST" enctype="multipart/form-data">

        <div class="upload-box">
            <input type="file" name="resume" required>
        </div>

<input list="jobs" name="job_desc" placeholder="Type job role...">

<datalist id="jobs">
<option value="Python Developer">
<option value="Frontend Developer">
<option value="Backend Developer">
<option value="Full Stack Developer">
<option value="Data Analyst">
<option value="Machine Learning Engineer">
<option value="Software Engineer">
<option value="Web Developer">
</datalist>
<div id="suggestions"></div>

        <button type="submit">Analyze Resume</button>

    </form>


{% if result %}

<div class="score">
{{ result.match }} 
</div>
<h2>Resume Score</h2>
<h3>{{ result.score }} / 100</h3>

<canvas id="scoreChart" width="200" height="200"></canvas>
{% if result %}

{% endif %}

        <div class="skills">

            <div class="skill-box">
                <h3>Detected Skills</h3>
                <ul>
                    {% for skill in result.skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="skill-box">
                <h3>Missing Skills</h3>
                <ul>
                    {% for skill in result.missing %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
                <a href="/" class="back-btn">Analyze Another Resume</a>
            </div>

        </div>

    </div>

    {% endif %}

</div>
{% if result %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

{% if result %}

const score = {{ result.score }};

const data = {
    datasets: [{
        data: [score, 100-score],
        backgroundColor: ["#4CAF50", "#e0e0e0"]
    }]
};

const config = {
    type: 'doughnut',
    data: data,
};

new Chart(
    document.getElementById('scoreChart'),
    config
);

{% endif %}

</script>
{% endif %}
</script>


</body>
</html>